<div class="row">
  <div class="col-sm-6 col-md-4">
    
<%  current_userlogin.favorites.each do |u| %>
        <!-- A container for each search result -->
         <%# if userlogin.isTutor? %>
        
        <%# end %>
      <% end %>



  </div>
</div>