<div class="footer">
	<div>
	  <br>
	  <div align="center" style="color:#0AC6FF; font-size: large; text-shadow: 1px 1px 4px black">
          Have questions? Check out our <a href="/ContactUs" style="color:white; text-decoration:underline">FAQ!</a><br>
          If you still have questions, <a href="/ContactUs" style="color:white; text-decoration:underline">Contact Us!</a>
	  </div>
	</div>
</div>