<%= form_tag search_userlogins_path, method: :get, class: "navbar-form pull-left", role: "search" do %>
          <p>
            <%= text_field_tag :search, params[:search],  placeholder:"Search away..." , class: "form-control" %>
            <%= button_tag( :class => "btn btn-default") do %>
            <span style="margin-right: 2px" class="glyphicon glyphicon-search"></span>Search
            <div class="input-group-btn">
              content
            </div>
            <% end %>
            
          </p>
        <% end %>