<!DOCTYPE html>
<script type="text/javascript" scr="javascripts/jquery.raty.js"></script>
<script type="text/javascript" scr="javascripts/ratyrate.js.erb"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<html>
<%= yield :javascript_includes %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ApptiTutor</title>
</head>
<!-- lighter blue text color: 00A6DE -->
<body style="background-color: white; color: #208AD6">
  <div class="header">
    <%=render 'layouts/navbar'%>
  </div>
  <div class="body">
    <%= yield %>
  </div>
  	<%=render 'layouts/footer' unless @disable_foot %>
</body>
</html>
